<h1>Eventurers</h1>
<h2>Meet new people</h2>
<%User.all.each do |t|%>
<a href="/users/<%=t.id%>"><%=t.name%></p></a>
<%end%>
<a href="/event/new">Make an event</a><a href="/users/<%=current_user.id%>">Return to profile</a>