<form method="POST" action="/login">

  <label for="email">Email: <input type="text"  name="user[email]" /></label>
  <br>
  <br>
  <label for="password">Password: <input type="password" name="user[password]" /></label>
  <input type="submit" value="Log in" />
  <%# <%if @error?%>
  <%# <%="Try Again"%>
  <%# <%end%> 
</form>
