<h1>Hello <%= @user.name%></h1>
<br>
<br>
<a href="/events/new">Create a new event</a>
<br>
<a href="/events">Checkout events</a>
<br>
<a href="/logout">Log out</a>
<br>
<a href="/events/my_rsvps">Your RSVPs</a>
<br>
<a href="/users/<%=@user.id%>/edit">Edit Account</a>
