
<h1>Find something you like</h1>
<h3>Events:</h3>
<%Event.all.each do |event|%>
 <a href="events/<%=event.id%>">   <%=event.name%></a>
    <br>
    <%end%>
    <br>
    <br>
    <a href='/users/:id'>Return to profile</a>
