<form method="POST" action="/events">

  <label for="name">Event Name: <input type="text" name="event[name]" /></label>
  <br>
  <br>
  <label for="dis">Discription: <textarea name="event[dis]" rows="4" cols="50"></textarea></label>
  <br>
  <br>
  <label> Would you like to invite:</label> <%User.all.each do |t|%>
         <label><%=t.name%> <input type="checkbox" name="rsvp" value="<%=t.name%>" /></label><br>
  <%end%>
  <input type="submit"  value="submit" />
</form>