<h2>Events you are RSVPed to</h2>

<%=@rsvp_error%>
<%@user_rsvps.each do |rsvp| %>
<a href= "/events/<%=rsvp.event_id%>"> <%=rsvp.event.name%></a>
<br>
<%end%>
<br>
<br>
<a href="/users/<%=@user.id%>">Return to profile</a>
<a href="/events">Checkout events</a>