
        <h1>Welcome to Eventas</h1>
        <h2>Find events, start events, connect and make new friends</h2>
        <h2>Would you like to <a href='/sign_up'>sign up</a> or <a href='/login'>log in</a><h2>
  